.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: relative;
}

.footer #copyrightText {
  color: white;
  font-size: calc(.5px + 1vmin);
  margin-left:2em;
  margin-right:2em ;
  
}

.stacked-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 7em;
}

.stacked-cards .card{
  position: absolute;

}

.stacked-cards .card:nth-child(even) {
   transform: rotate(0) translateX(2px) translateY(2px) scale(1);
}

.stacked-cards .card:nth-child(odd) {
  transform: rotate(-2deg) translateX(-2px) translateY(2px) scale(1);
}

.spread-cards { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto; 
  margin: 7em;
}

.Results {
  margin-top: 2em;
  margin-bottom: 6em;
  padding: 1em;
  border-radius: 5%;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #ccc2a6;
}

.Results h2{
  text-decoration: underline;
}

.Results img{
  height: 11em;
}

.spread-cards .card { 
  transition: transform 0.5s ease-in-out ;
  transform: rotate(1turn)
}

.card {
  height: 11em;
  margin: -1.5em ; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform:  translateX(-2px) translateY(2px) scale(1);
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.spread-cards .card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 0.75rem crimson);
}

.selected {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 0.75rem crimson);
}

.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:50px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  /* height: 10em; */
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.hidden{
  display: none;
}